/* Навігація */

.header-nav__link {
    color: var(--primery-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -32px;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
        opacity: 0;
    }

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.header-nav__link--current {
    text-decoration: none;
}

.header-nav__li .header-nav__link--current {
    color: var(--accent-color);
}

.header-contact__link {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
        
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus, 
    &:focus .header-contact__svg,
    &:hover .header-contact__svg {
        color: var(--accent-color);
        fill: var(--accent-color);
        cursor: pointer;
    }
}

.header-contact__li {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header--border {
    border-bottom: 1px solid #ECECEC
}

.header-contact__svg {
    fill: var(--section-colors); 
}

@media screen and (max-width: 767px) {
    .js-menu-container {
        position: absolute;
        display: block;
        top: 10px;
        right: 15px;
        margin-left: auto;
        height: 40px;
        padding: 0;
        border: none;
        background-color: var(--primery-color);
        z-index: 999;
    }
    
    .header--border {
        position: relative;
    }

    .js-menu-container.is-open+.menu {
        display: none;
    }

    .js-menu-container .js-open-menu {
        display: none;
    }

    .js-menu-container.is-open .js-close-menu {
        display: none;  
    }

    .js-menu-container.is-open .js-open-menu {
        display: block;
    }

    .js-close-menu {
        &:hover,
        &:focus {
        fill: var(--accent-color);
        cursor: pointer;
        }
    }

    .js-menu-container +.menu {
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     background-color: var(--primery-color);
     width: 100%;
     height: 796px;
     font-size: 40px;
    }

    .header-nav {
        position: relative;
    }

    .header-nav__ul {
        
        margin-left: 40px;
        margin-top: 48px;
    }
    .header-nav__li:not(:last-child) {
        margin-bottom: 32px;
    }

    .header-contact {
        margin-left: 40px;
    }
    .header-contact__svg {
        display: none;
    }

    .header-contact__li {
        position: absolute;
        font-size: 28px;
        bottom: 134px;

        &:last-child {
            top: 562px;
            font-size: 40px;
        }

        &:nth-child(2n+1) .header-contact__link{
            color: var(--secondary-text-color);
        }
    }

    .menu-social {
        position: absolute;
        left: 40px;
        bottom: 48px;
        font-size: 18px;
    }

    .menu-social .menu-social__a {
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 0.02em;
        font-style: normal;
        line-height: 1.22;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        color: var(--accent-color);
    }
    .menu-social .menu-social__a:last-child {
        margin-right: 0px;
        padding-right: 0px;
        border-right: none;
    }
}

@media screen and (min-width: 768px) {
    .js-menu-container{
        display: none;
    }
    .menu-social{
        display: none;
    }

    .header-nav{
        display: flex;
    }

    .header-nav__ul {
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: 96px;
        margin-left: 87px;
    }
    
    .header-nav__li {
        position: relative;
    
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    .header-nav__link {
        height: 100%;
    }
    
    .header-nav__link--current {
        &::after {
            opacity: 1;
        }
    }

    .header--border .container {
        display: flex;
    }

    .menu {
        display: flex;
    }

    .header-contact {
        margin-top: 21px;
    }
    .header-contact__li {
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    .header-contact__link {
        color: var(--secondary-text-color);
        font-size: 12px;
    }
    
    .header-contact__svg {
        margin-right: 8px;
        width: 14px;
        height: 10px;
    }

    .header-contact__li:last-child .header-contact__svg {
        width: 10px;
        height: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-nav__ul {
        margin-right: 315px;
    }

    .header-nav__li {
        position: relative;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    .header-nav__link--current {
        &::after {
            opacity: 1;
        }
    }

    .header--border .container {
        display: flex;
        align-items: center;
    }

    .header-contact__link {
        display: flex;
    }

    .header-contact {
        display: flex;
        margin-right: 0;
        margin-top: 0;
    }

    .header-contact__svg {
        margin-right: 10px;
        width: 16px;
        height: 12px;
    }

    .header-contact__li:last-child .header-contact__svg {
        width: 10px;
        height: 16px;
    }

    .header-contact__link {
        font-size: 14px;
    }
    
    .header-contact__li {
        margin-bottom: 0;
        display: flex;
    
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}