:root {
    --accent-color: #2196F3;
    --primery-color: #ffffff;
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --secondary-wite-color: #F5F4FA;
    --section-colors: #AFB1B8;
}